@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    color: #363027;
}

body{
    margin: 0px;
    background-color: #363027;
    
}

a {
    background-color: #756A56;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;

}

a:hover{
    text-decoration: underline;
    font-weight: bolder;
}

#content-box {
    
    background-color: wheat;
    width: 70%;
    max-width: 700px;
    margin: auto;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 50px black;

    
}

img {
    width: 100%;
    margin: auto;
    display: block;
}

h1 {
    text-align: center;
}